// @import '../styles/colors';
@import '../styles/shared';

.IconButton {
  // position: fixed;
  // top:20px;
  // right:20px;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  // color: $black;
  font: inherit;
  // background-color: $white;
  cursor: pointer;

  display: inline-flex;
  // align-items: center;
  // justify-content: center;

  transition: color 500ms $cubic-bezier;

  &:hover,
  &:focus {
      color: $orange-accent;
  }

  &:focus {
    outline: none;
    -webkit-box-shadow: 4px 2px 8px 0px rgba(34, 60, 80, 0.05);
    -moz-box-shadow: 4px 2px 8px 0px rgba(34, 60, 80, 0.05);
    box-shadow: 4px 2px 8px 0px rgba(34, 60, 80, 0.05);
  }
}